.search-container{
    flex: 1;
    max-width: 35%;
    margin: 0 16px;
}

.search-wrapper{
    position: relative;
    display: flex;
}

.input-search{
    width: 100%;
    padding: 8px 16px;
    border: 2px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    outline: none;
    font-size: 14px;
}

.button-search{
    border: 2px solid black;
    color: rgb(243, 193, 193);
    padding: 8px 24px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color:white;
    transition: background-color 0.2s;
    
}

.button-search:hover{
    color: black;
    padding: 8px 24px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}